.window{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    height:90vh;
    width:30%;
    border: 2px solid black;
}
.heading{
    text-align: center;
}
.pencil{
    margin-left: 10px;
    display:flex;
}
.input{
    margin-left: 10px;
    font-size: 20px;
    width:100%;
    border:0;
    border-bottom: 2px solid black;
    margin-right: 10px;;
}
.input:focus{
    outline: none;
}
.line:active{
    border:none;

}
.list{
    margin-left: 10px;
    font-size: large;
}
.products:hover{
    cursor: pointer;
}